# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject/

# Rope project settings
.ropeproject
config.yaml
coal-types.xlsx
duke_binaries_old
data/*WEPP*
data/*wepp*
data/in/*WEPP*
data/in/*wepp*
data/in/*IWPDCY*
data/in/projects.xls
data/in/energy_storage_exchange.csv
data/in/*ESE*
data/in/hydro_aggregation.csv
data/in/renewable_power_plants.sqlite
data/in/kraftwerke-de-ab-100-mw.xls
data/in/Kraftwerksliste_2017_2.xlsx
german_postcode_map.py
matching_analysis/*.png

data/out/*
!data/out/default
data/out/default/*WEPP*
data/out/default/*wepp*
data/out/default/*IWPDCY*
data/out/default/*ESE*
data/out/default/aggregations/*.csv
data/out/default/matches/*.csv
data/out/default/Export_Stock_TIMES*.xlsx
data/out/default/Matched_BNETZA_UBA.csv
data/out/default/Matched_BNETZA_UBA_reduced.csv
