# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject/

# Rope project settings
.ropeproject
coal-types.xlsx
config.{csv,yaml}
data/platts_wepp.csv
data/platts_wepp_small.csv
data/*WEPP*
data/*wepp*
data/in/*WEPP*
data/in/*wepp*
data/out/*WEPP*
data/out/*wepp*
data/in/energy_storage_exchange.csv
data/in/IWPDCY.csv
data/in/OldenburgHydro.csv
data/in/renewable_power_plants.sqlite
data/out/Export_Stock_TIMES.xlsx
data/out/aggregation_groups_ESE.csv
data/out/Matched_CARMA_ENTSOE_ESE_GEO_OPSD_WRI.csv
data/out/Matched_CARMA_ENTSOE_ESE_GEO_OPSD_WRI_reduced.csv
data/out/Matched_CARMA_ENTSOE_ESE_GEO_OPSD_WRI_reduced_vre.csv
data/in/kraftwerke-de-ab-100-mw.xls
data/in/Kraftwerksliste_2017_2.xlsx
data/out/aggregation_groups_BNETZA.csv
data/out/aggregation_groups_UBA.csv
german_postcode_map.py
data/out/Matched_BNETZA_UBA.csv
data/out/Matched_BNETZA_UBA_reduced.csv
data/out/aggregation_groups_Unnamed dataset.csv
config.yaml
