# SPDX-FileContributor: The powerplantmatching contributors
#
# SPDX-License-Identifier: MIT

include powerplantmatching/package_data/*
include powerplantmatching/package_data/duke_binaries/*
include README.md LICENSE
include requirements.yaml
